-----
title: Fight the Dragon (or The NPC's Lament)
description: When your characters become genre-savvy.
tags: stuff_i_wrote, music
created_at: 2018-05-05
-----
<h1><%= @item[:title] %></h1>
<h2>by Frank Riccobono</h2>
<p class='context'><%= item[:description] %></p>
<p> A dragon flew
across the sky<br> Burned our homes and made us cry.<br> We did not know what
to do<br> ‘Til we spied a hero like you</span></p><p> Who will…</p><p> FIGHT THE DRAGON!<br> FIGHT THE
DRAGON!<br> Fiercest beast you’ve ever seen.<br> FIGHT THE DRAGON!<br> FIGHT
THE DRAGON!<br> He breathes fire. And he’s mean!</p><p> Take your sword to his
cave.<br> We’ll wait here while you be brave.<br> Risk your life for each of
us,<br> On your way, now, don’t make a fuss</p><p> And go…</p><p> FIGHT THE
DRAGON!<br> FIGHT THE DRAGON!<br> Do not let him overwhelm.<br> FIGHT THE
DRAGON!<br> FIGHT THE DRAGON!<br> Bring your shield.  Bring your helm.</p><p>
Hero’s journey, chosen one,<br> Pointless side-quest, or just for fun.<br> We
don’t care much why you do it.<br> We’ll just cheer when you’ve run your blade
through it.</p><p> Well then...</p><p> FIGHT THE DRAGON!<br> FIGHT THE
DRAGON!<br> We’ll be waiting over here.<br> FIGHT THE DRAGON!<br> FIGHT THE
DRAGON!<br> Be our hero! Be a dear.</p><p> Without us, you’ll have no
story.<br> Without us, you’ll find no glory.<br> Without us, you’re just a
farmhand,<br> Miles away from all your farmland.</p><p> So go...</p><p> FIGHT
THE DRAGON!<br> FIGHT THE DRAGON!<br> You were brought here by fate.<br> FIGHT
THE DRAGON!<br> FIGHT THE DRAGON!<br> Adventures beckon.  Deeds await.</p><p>
We don’t know why our town got took.<br> It’s our lot to be a plot hook.<br>
Towns like ours were made to suffer,<br> Just to make you heroes
tougher.</p><p> When you...</p><p> FIGHT THE DRAGON!<br> FIGHT THE DRAGON!<br>
We must each play our part.<br> FIGHT THE DRAGON!<br> FIGHT THE DRAGON!<br>
Grow your legend.  Make your start.</p>
