---
title: Basic Investigation Skills Tutorial No. 1
tags: stuff_i_wrote
description: How to Read the Last Message Written on a Memo Pad
created_at: 2017-06-16
---
<h1><%= @item[:title] %></h1>
<h2><%= @item[:description] %></h2>

<ol>
  <li>Observe the indentations made by the pen of the writer on the top sheet of the pad.</li>
  <li>Grab yourself a pencil with a soft lead.</li>
  <li>On a separate piece of paper, sketch out a design for a rudimentary time machine.</li>
  <li>Devote years and vast sums of money to the realization of your design.</li>
  <li>When the machine is fully operational, set your temporal coordinates based on your initial observations of the memo pad.</li>
  <li>Journey to the past, being careful not to cause any alterations to history.</li>
  <li>Read the note before it is torn from the memo pad.</li>
  <li>See that it was a note from your wife to buy eggs on your way home from work.</li>
  <li>Realize that you never bought those eggs and to do so now would cause a disastrous paradox.</li>
  <li>Return to the future (i.e. your relative present).</li>
  <li>Remember to buy eggs on your way home from the lab.</li>
  <li>Forget that your wife left you years ago due to your slavish devotion to this research project.</li>
  <li>Weep when confronted with the reality of your own hubris.</li>
</ol>
