---
title: Basic Investigation Skills Tutorial No. 3
tags: stuff_i_wrote
description: How to Tail a Suspect without Being Seen
created_at: 2018-04-09
---
<h1><%= @item[:title] %></h1>
<h2><%= @item[:description] %></h2>

<ol>
  <li>Learn as much as you can about the suspect beforehand including their behavioral patterns, habits, and common travel routes.</li>
  <li>Based on this information, plan a time and place to begin your tail. Very public places at a moderately busy time are best.</li>
  <li>Observe how people dress and act in the location. Remember, your goal will be to stay as inconspicuous as possible, so this is your chance to find out what you'll need to wear and what you'll need to do in order to blend in.</li>
  <li>Choose a starting vantage point that will provide both good cover for you and good visibility over the area.</li>
  <li>On the intended day, arrive at the location before your suspect and watch carefully for the first glimpse.</li>
  <li>Once you've spotted the suspect, begin to follow but maintain your distance.</li>
  <li>To avoid being seen, lose yourself in the crowd. Match their actions and movements as best you can.</li>
  <li>Become one with the crowd; let your consciousness meld with theirs; take your place in the mass collective consciousness of mankind.</li>
  <li>Dissociate your spectral form from your physical body and move about the crowd by projecting your spirit into the bodies of those around you.</li>
  <li>As you project yourself, keep your mind's eye on the suspect and let each jump take you closer.</li>
  <li>When you finally brush your consciousness against that of your suspect, return to your own body but leave a small piece of yourself behind, creating a permanent link.</li>
  <li>Back in the physical world, use this link to know where your suspect is at all times from now until eternity.</li>
  <li>Know that you have lost a piece of yourself that you can never recover.</li>
</ol>
