---
title: Liars Anonymous
description:  I cannot tell a lie - the idea for this skit came from three randomly selected cards from an improv card game.
tags: stuff_i_wrote, off_center
created_at: 2009-06-17
---

<h1><%= @item[:title] %></h1>
<h2>by Frank Riccobono</h2>
<p class='context'><%= @item[:description] %></p>

<p class=MsoNormal>Characters<br>
Head Liar<br>
Pinocchio<br>
The Spy<br>
Satan<br>
The Boy Who Cried Wolf<br>
George Washington<br>
Martha Washington<br>
Abraham Lincoln</p>

<p class=MsoNormal>Props<br>
Ski Mask<br>
Suit Jacket<br>
Baseball Bat<br>
Top Hat<br>
Lincoln Beard<br>
Powdered Wig</p>

<p class=MsoNormal>HEAD LIAR:
Hello everyone and welcome to this meeting of Liars Anonymous. Oh, it looks
like have a new member with us tonight. I want everyone to give him a warm,
honest welcome (gestures toward GW).</p>

<p class=MsoNormal>(The assembly
makes welcoming remarks)</p>

<p class=MsoNormal>HEAD LIAR:
Why don't we all introduce--</p>

<p class=MsoNormal>TBWCW:
(Pointing to an empty space on the stage) Wolf! Wolf! He's gonna eat me!</p>

<p class=MsoNormal>HEAD LIAR: --ourselves.
You can ignore him. Nothing bad will come of it.</p>

<p class=MsoNormal>PINOCCHIO: Hello,
my name is Pinocchio, and I...am not a real boy. Also I'm a liar.</p>

<p class=MsoNormal>EVERYONE
ELSE: Hi Pinocchio.</p>

<p class=MsoNormal>PINOCCHIO: My
father told me to start coming for these meetings after he had dulled all his
saws trimming my nose.</p>

<p class=MsoNormal>SPY: (not
wearing mask or jacket and holding the baseball bat. talking in a Brooklyn
accent) Yo. how yous all doin'? I'm Scout...sorry, sorry I shouldn't do this
(drops bat and puts on ski mask and jacket and starts talking in French
accent.) What I meant to say was...I am the Spy and I am a Liar.</p>

<p class=MsoNormal>EVERYONE
ELSE: Hi Spy.</p>

<p class=MsoNormal>SPY: I like
to pretend that I am other people.</p>

<p class=MsoNormal>SATAN: I am
called by many names, but you can call me Satan.</p>

<p class=MsoNormal>EVERYONE
ELSE: Hi Satan.</p>

<p class=MsoNormal>SATAN: I lie
because I find it so tempting, and I don't tell little white lies. I tell lies
of biblical proportion. You know all that sin and suffering in the world...all
my doing...all it took was one little lie about an apple. And I'd do it again
too. Frankly, I only come to these meetings to socialize with people I'm
probably going to get to know very well in eternity.</p>

<p class=MsoNormal>HEAD LIAR: That's
enough, Satan. Now why don't you say your name and tell us a little about
yourself.</p>

<p class=MsoNormal>GW: Hello,
everyone. My name is George, George Washington and I think there's been a
mistake. I have never told a lie.hn</p>

<p class=MsoNormal>HEAD LIAR: We
all understand that your first meeting can be difficult. We've all been there.
But you can trust us. We won't judge you. Now, try to tell us the truth.</p>

<p class=MsoNormal>GW: But I'm
not lying and I'm not a liar. I cannot tell a lie.</p>

<p class=MsoNormal>PINOCCHIO: It's
okay. Denial is a stage of acceptance. But you have to take the first step and
admit you have a problem.</p>

<p class=MsoNormal>GW: My only problem
is that I think I'm lost. I was trying to find the founding fathers convention.
I guess I stepped into the wrong room.</p>

<p class=MsoNormal>SPY: Ah, mon
ami, you are new here perhaps you do not know how to begin. Why don't you tell
us about the worst lie you've ever told.</p>

<p class=MsoNormal>GW: *sigh*
Why don't you people believe a word I'm saying? Once when I was a boy, I cut
down my father's cherry tree by mistake.</p>

<p class=MsoNormal>SPY: Aha! And
you lied to cover up your misdeed!</p>

<p class=MsoNormal>GW: No...As
soon as my father returned home, I told him what I did. Like I said, I don't
lie.</p>

<p class=MsoNormal>(LNICOLN
enters)</p>

<p class=MsoNormal>LINCOLN: Hi
all, sorry I'm late. George...finally decided to show up, eh?</p>

<p class=MsoNormal>(The assembly
is a little surprised that he really is George Washington)</p>

<p class=MsoNormal>GW: Abe,
thank the lord! You can help me clear my name...wait what are you doing here?
Doesn't history remember you as 'Honest Abe'?</p>

<p class=MsoNormal>LINCOLN: Come
now, George, just because history remembers you as honest doesn't mean you
never told a lie in your life. (to everyone else) I bet he told you the Cherry
Tree story, didn't he? George, that story is a myth...it never happened...you
just told a LIE!</p>

<p class=MsoNormal>(The assembly
erupts in maniacal laughter. The rest of the cast joins in. There is a flurry
of movement. All exit. MARTHA is now on stage. GEORGE enters.)</p>

<p class=MsoNormal>GW; Oh
Martha, I just had the most terrible dream. At least it's over now.</p>

<p class=MsoNormal>MARTHA: Oh,
Georgie, I'm glad you're here. I wanted to ask you...do you think this dress
makes me look fat?</p>

<p class=MsoNormal>GW: (panicked
take out to the audience)</p>

<p class=MsoNormal>THE END.</p>
