-----
title: The Modern Web Designer Song
description:  With apologies to Messrs. Gilbert and Sullivan
tags: stuff_i_wrote, music
created_at: 2016-08-20
-----
<style>
.stanza { margin-left: 2em; }
.line { margin-left: -2em; }
code {font-family: monospace}
</style>
<h1><%= @item[:title] %></h1>
<h2>by Frank Riccobono</h2>
<p class='context'><%= item[:description] %></p>
<div class="poem">
<p class="stanza">
<span class="line">I am the very model of a modern web designer, oh</span><br />
<span class="line">I've information typographic, artsy, and things finer, oh</span><br />
<span class="line">I know the Bootstrap classes and I quote their names semantical</span><br />
<span class="line">From <code>col-md-10</code> to <code>btn-red</code> with fervor so pedantical;</span><br />
<span class="line">I'm very well acquainted too with animations CSS,</span><br />
<span class="line">I know this carousel will be the secret to your site's success,</span><br />
<span class="line">About the browser differences, I'm teeming with a lot of facts,</span><br />
<span class="line">On how to build your single page in perfect scrolling parallax.</p>
<p class="stanza">
<span class="line">I'm very good with mobile-first and skeumorphic, flat design,</span><br />
<span class="line">I know the fonts to separate your content from your main headline</span><br />
<span class="line">In short, in matters typographic, artsy, and things finer, oh</span><br />
<span class="line">I am the very model of a modern web designer...oh.</p>
<p class="stanza">
<span class="line">I know our grisly history from table-based to nested divs,</span><br />
<span class="line">And 90s GeoCities sites with many animated GIFs;</span><br />
<span class="line">I quickly point out all the flaws in every published Wordpress theme,</span><br />
<span class="line">In palettes, I can recommend a most peculiar color scheme.</span><br />
<span class="line">I can tell undoubted Arials from Veras and Helvetical,</span><br />
<span class="line">I recognize bad kerning and improper rhythm vertical!</span><br />
<span class="line">Then I can clone a typeface when I've seen its letters' strokes afore,</span><br />
<span class="line">And criticize decisions, which the average, clueless blokes ignore.</p>
<p class="stanza">
<span class="line">Then I can write a style guide for each responsive element,</span><br />
<span class="line">And tell you every margin, padding, weight, and color's complement;</span><br />
<span class="line">In short in matters typographic, artsy, and things finer, oh</span><br />
<span class="line">I am the very model of a modern web designer#oh.</p>
<p class="stanza">
<span class="line">In fact, when I know what is meant by "alpha" and "opacity",</span><br />
<span class="line">When I can tell at sight a flexbox stretched to its capacity,</span><br />
<span class="line">When such techniques as wireframes I employ with great facility,</span><br />
<span class="line">And when I know precisely how to break accessibility,</span><br />
<span class="line">When I have understood a blog post on how SVG is clipped</span><br />
<span class="line">When I know more of line-height than the engineer whose code we shipped</span><br />
<span class="line">In short, when I've a smattering of elemental Javascript</span><br />
<span class="line">You'll say no better web designer ever had such skills equipped</p>
<p class="stanza">
<span class="line">For my HTML knowledge, though in keeping with the status quo,</span><br />
<span class="line">Has only been instilled in me through hours on StackOverflow.</span><br />
<span class="line">But still, in matters typographic, artsy, and things finer, oh</span><br />
<span class="line">I am the very model of a modern web designer...oh</p>
</div>
