---
title: Morning Commute
description: 
tags: stuff_i_wrote
created_at: 2016-09-14
---

<h1><%= @item[:title] %></h1>
<h2>by Frank Riccobono</h2>
<p class='context'><%= @item[:description] %></p>
<p>Sometimes it feels like no matter how early you wake up, you always end up leaving for work at the same time--at least ten minutes later than you really should.  Then when you do get on the road, you're dismayed to find that traffic is significantly worse than usual.  You let your hopes rise a bit when you pass a minor accident on the side of the road and traffic resumes a normal pace thereafter, but you're only on the road a few more minutes before you find yourself stuck in another standstill.  Desperate, you take an ill-advised turn off the main road in an attempt to cut around the traffic.  Following a circuitous path you'd never be able to reproduce, you eventually leave all signs of civilization behind, and, without realizing it, pass into the fantastical world of Ār-&AElig;riseth.  </p>
<p>When the kindly farmer you ask for directions comments on your strange manner of dress and customs, and you notice his, you begin to suspect you are not in New Jersey anymore.  However, being a kindly farmer, he and his family agree to give you shelter despite your apparent strangeness.  Over breakfast, the farmer tells you much about this new world.  You learn not only of their ways and customs but also of their plight and the evils that besiege this land.  As a way of thanking them for their kindness, you agree to help out on the farm while you try to find your way home.   In between farm chores, you practice your swordplay with the farmer's son and begin to learn magic from a nearby wise old man.  Months go by and your skills improve greatly, until finally you are able to challenge Ragnor the Merciless, who has long oppressed this land,  in single combat and defeat him, ushering in a new age of peace for Ār-&AElig;riseth.</p>

<p>Having completed your quest, you fall through a rift in space-time and find yourself back on that road you left so long ago.  Due to some sort of magical time dilation, you arrive at work only fifteen minutes late, but you were really hoping to be a few minutes early.  Your boss is upset when you get there, and you know the rest of the day is going to be quite stressful.</p>

<p>Times like this, you wish you were a morning person.</p>
