---
title: We Need A Little Speech Meet
description: A short forensics-themed Christmas carol to the tune of the Johnny Mathis version of "We Need a Little Christmas" in honor of the annual Holly Speech Festival in Natick, MA.
tags: stuff_i_wrote, music
created_at: 2015-12-19
---
<h1><%= @item[:title] %></h1>
<h2>by Frank Riccobono</h2>
<p class='context'><%= @item[:description] %></p>
<img src="/assets/images/Natick_Hollyfest_2014.jpg" />
<p>
We're at the Holly<br />
Look at that gleaming tow'r of nutcracker trophies<br />
Stand in your boxes<br />
And watch a friendly Spirit tell us all who has won.
</p>
<p>
For we need a little speech meet, right this very minute<br />
Dec'ers in the hallways, Duos here to win it<br />
Yes we need a little speech meet right this very minute<br />
Finish up your registration.  Who will speak in affirmation?
</p>
<p>
Throw up the postings<br />
Kick off the longest round of Prose I've ever seen<br />
Set up the tab room<br />
It's time we've got those ballots printed and handed out.
</p>
<p>
For I've memorized my intro, edited my OO<br />
Read the book for Disco, prepped my case for POFO<br />
And I need an Extemp question on a topic I know<br />
Need a little speech meet now.
</p>
<p>
For we need a little Multiple reading from a binder<br />
Rulebooks for the judges, just as a reminder<br />
And we need a kid's Persuasive to urge us to be kinder<br />
We need a little speech meet now!
</p>
