---
title: Sleep for the Sleepless
description: An advertisement for a charity with the best interests of college students in mind.  Imagine Sarah McLachlan's music playing in the background while you read this.
tags: ['stuff_i_wrote', 'off_center']
created_at: 2010-01-21
---

<h1><%= @item[:title] %></h1>
<h2>by Frank Riccobono</h2>
<p class='context'><%= @item[:description] %></p>

<p >CHARACTERS:<br>
(NAME)<br>
SARAH <br>
BILLY <br>
BOBBY<br>
ROY<br>
<br>
</p>

<p >PROPS:<br>
SAD MUSIC<br>
COFFEE CUPS<br>
<br>
</p>

<p >(NAME):  Good evening, ladies and gentlemen, my name is
(NAME).  I’m here tonight to tell you about a serious problem facing some of
the most vulnerable members of our society.  Thousands of college students
suffer from sleep deprivation every day.  Our children have forgotten the feel
of a comfortable bed.  Take Sarah, for example, this is midterms week at her
school and in addition to her five exams, she’s also had one major project and
two term papers due.  As a result, she hasn’t slept in 6 days.  Why don’t you
tell the audience how you feel, Sarah?</p>

<p >SARAH: (SARAH stares blankly and almost passes out) No!
Can’t sleep now.  Two more tests.  Need more coffee.  Oh look, a zebra.  (SARAH
trails off following the imaginary zebra)</p>

<p >(NAME): And Sarah is just one example of the victims of this
awful plight.  Ladies and gentlemen, the pressure facing these students is
unbelievable.  And now, you can help.   Statistics show that nearly 64 million
Americans suffer from insomnia, carelessly wasting such a precious resource as
sleep while our children go sleepless.  Just call 1-800-GOSLEEP, that’s
1-800-G-O-S-L-E-E-P, and donate your unused sleep today.</p>

<p >BILLY:  I had it real tough.  I had to balance class work,
extra-curriculars, hanging out with friends, frat parties, and sleep, and I
just couldn’t manage.  One of them had to go, so of course I stopped sleeping. 
It got so bad that I could barely function.  Then someone called 1-800-GOSLEEP
and donated 8 hours a night, and I’ve never felt better.</p>

<p >(NAME):  Please call now, and we’ll send you  a photograph
of your student.  All it takes is a few hours of sleep to make a difference in
these students’ lives.</p>

<p >ROY:  I remember what it’s like to be a sleepless college
student.  I almost never slept in college.  It was enough to drive a person
crazy.  So when I first heard about 1-800-GOSLEEP, I called right away.  I
figured, the horrors of the murders I’ve committed keep me lying awake at night
anyway.  Now I can really make a difference in these students’ lives.</p>

<p >BOBBY: I wanna be just like you when I grow up.</p>

<p >(NAME): Ladies and gentlemen, what are you waiting for?  
Call now and sponsor an all-nighter or a frat kegger today.  Our children are
the future, and you can bet they’ll appreciate.  Again the number is call
1-800-GOSLEEP, that’s 1-800-G-O-S-L-E-E-P.  Call now so these kids can have
pleasant dreams.</p>
