---
title: The Map Thief
description: In college, I met someone with a stolen NYC subway map on his apartment wall.  I started thinking, what sort of person steals a map?
tags: stuff_i_wrote, off_center
created_at: 2010-01-23
---

<h1><%= @item[:title] %></h1>
<h2>by Frank Riccobono</h2>
<p class='context'><%= @item[:description] %></p>
<p class=MsoNormal>CHARACTERS:<br>
HUDSON <br>
MAGGIE<br>
CLAIRE<br>
LT. WILSON<br>
<br>
PROPS:<br>
NEWSDESK<br>
PAPERS<br>
<br>
(Music plays like the beginning of a news broadcast.  HUDSON and MAGGIE are
sitting at a news desk)</p>

<p class=MsoNormal>HUDSON:  Good evening.  I'm Hudson Smith.</p>

<p class=MsoNormal>MAGGIE: And I’m Maggie Rinaldi.  New York City is still
reeling as the dread Map Thief strikes again.  So far over four thousand maps
have gone missing across the city.  We take you now to Claire Fairfax on the
scene at Times Square for more information.</p>

<p class=MsoNormal>CLAIRE: It’s being called the largest cartographic crime
since 1997 when two masked men tried to steal the World Fair Globe to protect
it from aliens after seeing the film <i>Men in Black</i>, and it all began
right here one week ago when every subway map in Times Square vanished.  Tourist
travel ground to a halt as newcomers to the city had no way of knowing which
trains to take.  Soon travel resumed as tourists put aside their stubbornness
and began to rely on the kindness of New Yorkers to provide directions, but
this only made matters worse as most New Yorkers either intentionally or
accidentally gave out wrong directions.  Before long, every subway map in the
city had been taken.  Now even the subway operators have lost track of where
they are supposed to be going.</p>

<p class=MsoNormal>(At this point LT. WILSON walks by.  CLAIRE counters him/her
to try to get a comment.)</p>

<p class=MsoNormal>CLAIRE: Lt. Wilson, are the police anywhere closer to
catching the Map Thief?</p>

<p class=MsoNormal>LT. WILSON:  Well, this morning we were very close.  You
see, we’ve been tracking his or her activities.  Every time the thief struck we
put a dot on our map to mark the location.  We really thought we were on to
something.</p>

<p class=MsoNormal>CLAIRE: Did the lead not pan out.</p>

<p class=MsoNormal>LT. WILSON: We’ll never know.  When we came back from our
lunch break, our map was gone.</p>

<p class=MsoNormal>CLAIRE: Well, there you have it.  The search continues on,
but there is a silver lining to this cloud.  GPS device manufacturers are
reporting that sales in and around New York City have never been better.  Back
to you Maggie.</p>

<p class=MsoNormal>MAGGIE: Well one thing’s for sure.  Our kids will always
tell the legend of this Map Thief.</p>

<p class=MsoNormal>HUDSON: We’ll let you know if we learn any more key facts. 
And now to Tom Brinks with your weekly forecast.</p>
<p>TOM: (standing in front of an empty green screen) Uhhhh...</p>
