---
title: The Detective
description: I wrote this skit for Leslie Nielsen (not that I ever met him or gave it to him...I just had him in mind when I wrote it).
tags: stuff_i_wrote, off_center
created_at: 2007-06-17
---

<h1><%= @item[:title] %></h1>
<h2>by Frank Riccobono</h2>
<p class='context'><%= @item[:description] %></p>
<p class=MsoNormal>Characters:<br />

Detective<br />

Murderer<br />

Dead Body
</p>


<p class=MsoNormal>Props:<br />

The murder weapon, preferably some sort of very
characteristic knife<br />

A magnifying glass<br />

Handcuffs</p>


<p class=MsoNormal>(As the scene starts, the DEAD BODY is already on the
ground.  MURDERER is standing a few feet away still obviously holding the
murder weapon.  The DETECTIVE knocks on the door and enters.)</p>

<p class=MsoNormal>DETECTIVE: Detective Murphy.  Did someone call the police?</p>

<p class=MsoNormal>MURDERER:  Yes, detective.  I would like to confess to the
murder of Ezekiel Goodrich.</p>

<p class=MsoNormal>DETECTIVE:  Murder!  This is serious.  (Gesturing towards
the body)This the victim?</p>

<p class=MsoNormal>MURDERER: Yes.  That’s him.</p>

<p class=MsoNormal>DETECTIVE: I wonder what the poor devils name was.</p>

<p class=MsoNormal>MURDERER:  I told you…Ezekiel Goodrich.</p>

<p class=MsoNormal>DETECTIVE:  (Ignores him and instead searches the body for
some form of identification.  Upon finding something…) It appears the victim’s
name was Ezekiel Goodrich.  Did you know the victim well?</p>

<p class=MsoNormal>MURDERER:  Actually, I only met him three hours ago, and I
instantly hated his guts.</p>

<p class=MsoNormal>DETECTIVE:  How horrible!  You must be so distraught by this
senseless tragedy.  I promise you that I will do everything in my power to
bring this man’s killer to justice.  It will be difficult, but I know that I
will find his killer.</p>

<p class=MsoNormal>MURDERER:  I KILLED HIM!  I ALREADY CONF—</p>

<p class=MsoNormal>DETECTIVE:  (Throughout this speech, the MURDERER interjects
various “buts” and attempts other interruptions at appropriate moments, but the
DETECTIVE will not let him get a word in) Please!  I understand you’re upset. 
Someone you cared for so greatly has just been cruelly slain.  But you must
allow me to concentrate so that I can find his killer and bring him or her to
justice.  I can’t afford to overlook a single clue no matter how subtle it may
be. Now let’s see what we have here.  (Takes out magnifying glass and inspects
the body)  It seems the victim was stabbed four times with a knife…with an approximately
six inch long blade.  It had a black handle, approximately seven inches long. 
Actually, I imagine that it would be almost identical to that bloody knife that
you’re holding.  (Pauses, as though he’s about to finally put two and two
together, but then continues still oblivious.)  Judging by the angle and
location of the wounds I would say the killer was…[insert spot-on physical
description of the actor playing the MURDERER].  (Again, the DETECTIVE almost
seems to have a revelation while looking at the MURDERER, but he remains
oblivious)  It appears that the wounds caused substantial blood loss.  The
victim seems to be lying in a pool of his own blood.  What’s this!...Excellent!...It
seems our killer isn’t as clever as he or she thought.  There is a trail of
bloody shoeprints leading away from the body.  Ha, now we’ve got our first
solid lead.  (DETECTIVE follows the imaginary trail to the opposite side of the
stage from where the MURDERER is standing.  He mimes picking up a phone.)  It
seems, our killer tried to make a phone call before he left.  That’s strange,
he stopped dialing for some reason.  The only numbers he pressed were 1 and 9.</p>

<p class=MsoNormal>MURDERER:  Gee, maybe he was dialing 9-1-1.</p>

<p class=MsoNormal>DETECTIVE:  Nonsense.  Why would he or she do that?</p>

<p class=MsoNormal>MURDERER: TO CONFESS!</p>

<p class=MsoNormal>DETECTIVE: Ah, if only it were that simple.  Killers never
admit their deeds.  (MURDERER is about to explode in frustration)  Now let’s
see where  he or she went next.  (The DETECTIVE follows the trail straight to
where the MURDERER is standing then Gasps.)  The trail stops right here.  The
killer backed into this corner, but then where could he or she have gone? 
Egad! That must mean the killer is still in the building.</p>

<p class=MsoNormal>MURDERER:  I’M THE KILLER!  I…KILLED…HIM.  I TOOK THIS KNIFE
IN MY HAND AND I STABBED HIM FOUR TIMES!  I’M SORRY FOR WHAT I DID.  NOW JUST
ARREST ME SO WE CAN GET THIS OVER WITH!</p>

<p class=MsoNormal>DETECTIVE:  Brilliant!  That’s exactly what we have to do. 
We need to start thinking like the killer if we hope to find him.</p>

<p class=MsoNormal>MURDERER: (Frustrated Mega-Sigh – I don’t know, figure
something out. Throws knife on the ground. Grabs handcuffs clipped to the
DETECTIVE’s belt and hand cuffs himself.  He walks towards the door where the
DETECTIVE entered.)</p>

<p class=MsoNormal>DETECTIVE:  Where are you going?</p>

<p class=MsoNormal>MURDERER:  The county jail!  I’ll be back in five to life.</p>

<p class=MsoNormal>DETECTIVE:  Have fun.</p>

<p class=MsoNormal>(Exit MURDERER)</p>

<p class=MsoNormal>DETECTIVE:  Good for him.  Poor guy.  This has been such a
trying ordeal.  He deserves a break.  Now, there is still a killer on the
loose.  Aha!  More footprints. (DETECTIVE follows the new bloody footprints out
the door)</p>
