
#watermark {
	opacity: 0.5;
	position: fixed;
}

@media (max-width: 768px) {
	#watermark {opacity: 0.2;}
}

.license {
font-size: 10px;
line-height: 22.4px;
margin: 0 auto;
text-align: center;
width: 50%;
}
